<section id="schedule" class="section schedule">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Программа семинара</h3>
            </div>
        </div>
        <div class="row">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row justify-content-center">
                                <i class="ion-android-time" />
                            </div>
                            <div class="row justify-content-center">
                                @DateTime.Now.ToString("f")
                            </div>
                        </div>
                        <div class="col-sm">
                            <h5 class="mt-0">Технология проведения организационно-деятельностных игр в условиях дистанционного обучения</h5>
                            <div class="row my-2 align-items-center">
                                <div class="col-sm-1 ">
                                    <img src="images/speakers/speaker-1.jpg" class="rounded-circle mr-3" style="width: 3rem;">
                                </div>
                                <div class="col-sm">
                                    <p class="card-text"><small class="text-muted"> Алтусарь О.Ю, преподаватель ОД (русский язык и литература)</small></p>
                                </div>
                            </div>
                            <div class="row my-2 align-items-center">
                                <div class="col-sm-1">
                                    <img src="images/speakers/speaker-1.jpg" class="rounded-circle mr-3" style="width: 3rem;">
                                </div>
                                <div class="col-sm">
                                    <p class="card-text"><small class="text-muted"> Патрина А.С., преподаватель ОД (русский язык и литература)</small></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href=""><i class="ion-social-youtube-outline"></i></a>
                                </div>
                                <div class="col-sm">
                                    <a href=""><i class="ion-document"></i></a>
                                    <a href=""><i class="ion-document"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row justify-content-center">
                                <i class="ion-android-time" />
                            </div>
                            <div class="row justify-content-center">
                                @DateTime.Now.ToString("f")
                                </div>
                            </div>
                            <div class="col-sm">
                                <h5 class="mt-0">Технология проведения организационно-деятельностных игр в условиях дистанционного обучения</h5>
                                <div class="row my-2 align-items-center">
                                    <div class="col-sm-1">
                                        <img src="images/speakers/speaker-1.jpg" class="rounded-circle mr-3" style="width: 3rem;">
                                    </div>
                                    <div class="col-sm">
                                        <p class="card-text"><small class="text-muted"> Алтусарь О.Ю, преподаватель ОД (русский язык и литература)</small></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href=""><i class="ion-social-youtube-outline"></i></a>
                                    </div>
                                    <div class="col-sm">
                                        <a href=""><i class="ion-document"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row justify-content-center">
                                <i class="ion-android-time" />
                            </div>
                            <div class="row justify-content-center">
                                @DateTime.Now.ToString("f")
                                </div>
                            </div>
                            <div class="col-sm">
                                <h5 class="mt-0">Технология проведения организационно-деятельностных игр в условиях дистанционного обучения</h5>
                                <div class="row my-2 align-items-center">
                                    <div class="col-sm-1">
                                        <img src="images/speakers/speaker-1.jpg" class="rounded-circle mr-3" style="width: 3rem;">
                                    </div>
                                    <div class="col-sm">
                                        <p class="card-text"><small class="text-muted"> Патрина А.С., преподаватель ОД (русский язык и литература)</small></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href=""><i class="ion-social-youtube-outline"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</section>
