.schedule-box {
    position: relative;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    margin: 25px 0 0;
}

    .schedule-box::before {
        content: '';
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border: 1px solid #fff;
    }

i {
    font-size: 3rem;
}
